

    <!-- Content Area Start From Here -->

    <style>
        .homebox-4 .blog-text {
        display: -webkit-box;
        -webkit-line-clamp: 5!important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    </style>
    
    <div class="home-head">
        <div class="home-head-bg"></div>
        <div class="home-head-content">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-lg-8 col-12 d-none d-lg-block">
                        <div class="head-images">
                            <img src="https://cdn.mypanel.link/bfc127/8u95o8ko1704koxu.png" title="Sns4u.kr" alt="Sns4u.kr" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="loginSide">
                            <div class="login-box">
                                <div class="lgb-img text-center">
    
                                </div>
                                <div class="lgb-title text-center">
                                    어서 오십시오
                                </div>
                                <div class="lgb-text text-center mb-2">
                                    사이트 회원으로 로그인합니다.
                                </div>
                                <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="">
                                    <h3>{{  lang('resetpassword.setnewpassword.title') }}</h3>
                                    {% if error %}
                                      <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ errorMessage }}
                                      </div>
                                    {% endif %}
                                    {% if success %}
                                      <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ successText }}
                                      </div>
                                    {% endif %}
                                    <div class="fc-home mb-3">
                                      <label for="username" class="control-label">{{ lang('resetpassword.username') }}</label>
                                      <input type="text" class="form-control" id="username" value="{{ user['username'] }}" readonly>
                                    </div>
                                    <div class="fc-home mb-3">
                                      <input type="password" class="form-control" id="password_new" name="ResetPasswordForm[password]" placeholder="{{ lang('resetpassword.new_password') }}">
                                    </div>
                                    <div class="fc-home mb-3">
                                      
                                      <input type="password" class="form-control" id="password_confirm" name="ResetPasswordForm[password_again]" placeholder="{{ lang('resetpassword.confirm_new_password') }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 d-block">{{ lang('resetpassword.button.submit') }}</button>
                                    <input type="hidden" name="_csrf" value="{{csrftoken}}">
                                  </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% if site['captcha'] %}
<script src='https://www.google.com/recaptcha/api.js?hl={{ site['language'] }}'></script>
{% endif %}
